@font-face {
    font-family: Bord;
    src: url("../font/Bord.otf");
}
@font-face {
    font-family: smith ;
    src: url("../font/TradesmithRegular.otf");
}
body
{
    background-image: url("../assets/Asset 13.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    height: 100vh;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
h1{
    text-align: center;
    font-family: Bord;
    font-size: 190px;
    color: rgb(219, 219, 47);
    text-shadow:0 0 10px black;
    margin-bottom: 0;
    margin-top: 2px;
    margin: 0;
    padding: 0;
}

.first h4{
    font-family: Bord;
    color: blue;
    text-shadow: 3px 3px black;
    font-size: 120px;
    text-align: center;
    margin: 0;
    padding: 0;

}
.nav h2{
    margin: 2px;
    padding: 2px;
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 3px black;
    color: blue;
    font-family: Bord;
    
    
}
.top_cat
{
    /* border: 0px solid rgb(155, 145, 145); */
    position: relative;
    /*left: 2%;*/
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 80%;
    width: 95%;
}
.top_cat_left{
    position: relative;
    height: 100%;
    width: 25%;
    /* border: 2px solid #000; */
}
.top_cat_right{
    position: relative;
    height: 100%;
    width: 25%;
    /* border: 2px solid #000; */
}
.top_cat_pro
{
    border: 0px solid red;
    width: 100%;
    height: 40%;
    margin-top: 25px;
    /* margin-bottom: 25px; */
    box-shadow: 5px 5px 5px #eaeaea;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
    transition: transform 0.3s;
    border-radius: 20px;
}
.top_cat_pro:hover
{
   transform: scale(1.1);
}
.nav h2:hover
{
   transform: scale(1.1);
}
.first h4:hover
{
   transform: scale(1.1);
}
.top_cat_pro img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}