<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <style>

    </style>
    <title>Document</title>
</head>

<body>
    <div class="back">
        <img class="backbtn" src="assets/back.png" alt="back">
        <a href="/"><p>Back</p></a>
    </div>
    <h1>ARCADE</h1>
    <div class="about_us" style="font-size: 35px;">
        <h2>The Group Members</h2>
        <ol>
            <li>Pranjali Salunke</li>
            <li>Rohini Shirkar</li>
            <li>Muntzar Sayyed</li>
            <li>Usama Tehseen</li>
        </ol>
    </div>
    <h2 class="lang" style="font-size: 45px;"> Languages Used </h2>
    <div class="aboutUS">
        <!-- <h1> About Us </h1> -->

        

        <div class="left" style="font-size: 25px;">
            <p><b> HTML :</b> The HyperText Markup Language, or HTML is the standard markup language for documents
                designed
                to
                be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and
                scripting
                languages such as JavaScript.</p>

            <p><b> CSS :</b> Cascading Style Sheets is a style sheet language used for describing the presentation of a
                document
                written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide Web,
                alongside
                HTML
                and JavaScript. </p>

            <p><b> Javascript :</b> Cascading Style Sheets is a style sheet language used for describing the
                presentation of
                a
                document written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide
                Web,
                alongside HTML and JavaScript. </p>

            <p> <b>Node  JS :</b> Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser.</p>

        </div>
        <div class="right" style="font-size: 25px;">
            <p> <b> Pixi JS:</b> Pixi. js is used to animate scenes of graphical objects. You can load, move and rotate
                images,
                as well as change their colour, tint and opacity. You can also add graphic objects to a container and
                move
                the
                container as a unit. </p>

            <p><b> Socket IO :</b> Socket.IO is a JavaScript library for realtime web applications. It enables realtime,
                bi-directional communication between web clients and servers. It has two parts: a client-side library
                that
                runs
                in the browser, and a server-side library for Node.js. Both components have a nearly identical API.</p>

            <p><b> Open CV :</b>OpenCV is a library of programming functions mainly aimed at real-time computer vision.
                Originally developed by Intel, it was later supported by Willow Garage then Itseez. The library is
                cross-platform and free for use under the open-source Apache 2 License. </p>

            <p><b> Tenser Flow :</b> TensorFlow is a free and open-source software library for machine learning and
                artificial
                intelligence. It can be used across a range of tasks but has a particular focus on training and
                inference of
                deep neural networks. Tensorflow is a symbolic math library based on dataflow and differentiable
                programming.
            </p>
        </div>

    </div>


</body>

</html>