<!--doctype html-->
<html>

<head>
    <title>Real Time POSE Detection Game</title>

    <link rel="stylesheet" type="text/css" href="/css/landing.css">

</head>

<body onselectstart="return false">
    <!-- <br> -->
    <h1>ARCADE</h1>
   

    <!-- code for top cat-->
    <!-- <div> -->
        <div class="top_cat">
            <div class="top_cat_left">
                <a href="/showSkeleton">
                <div  class="top_cat_pro"><img src="/assets/Asset 1.png"> </div>
                </a>
                <a href="/showjump">
                <div class="top_cat_pro"><img src="/assets/Asset 2.png"> </div>
                </a>
            </div>
            <div>
                <div class="first">
                    <a href="/about"><h4 >ABOUT US </h4></a>
                </div>
                <div class="nav">

                    <a href="/settings"><h2> SETTINGS  </h2></a>
                    <a href="/instruction"><h2> INSTRUCTIONS </h2></a>

                </div>
            </div>
            <div class="top_cat_right">
                <a href="/pingPong">
                <div class="top_cat_pro"><img src="assets/Asset 4.png"> </div>
                </a>
                <a href="/dinoGame">
                <div class="top_cat_pro"><img src="assets/Asset 3.png"> </div>
                </a>
            </div>
        </div>

        

        <!--end code for top cat-->

        <!-- <br> -->

</body>

</html>