<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction Page</title>
    <link href="./css/inst.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="back">
        <img class="backbtn" src="./assets/back.png" alt="back">
        <a href="/"><p>Back</p></a>
        </div>
    <h1>ARCADE</h1>
    <div class="desc">
        <div class="ping" style="font-size: 35px;">
            <h2> A.PING PONG</h2>
            <p>Ping Pong is one of the most famous arcade games, simulating table tennis.The main objective of this game is to gain the highest score. This game is an interesting addictive fun game. This is a human vs human two-player game and the players have to play from both sides with the help of up and down keys.Each player controls a paddle in the game by dragging it Horizontally across the screen’s left or right side. Players use their paddles to strike back and forth on the ball.  The game ends whenever the player fails to touch the ball and it touches the other part of the screen. Also, the player has to play the game turn-wise and use some strategy to win the game.</p>
        
        </div>
        <div class="dino" style="font-size: 30px;">
            <h2>B.DINO GAME</h2>
            <p>When there is no internet connection available, Google Chrome web browser on Windows and macOS and Linux  shows up a page detailing the possible causes as well as a small endless runner game with a dinosaur that has to run, dodge obstacles, and accumulate points. The game is relatively simple-minded. A monochrome game area with clouds, cacti, bumps in the ground, a dinosaur, a Hi-Score counter and a current score counter. As levels increase in complexity, the dinosaur will have to dodge cacti, pterodactyls, and so on. The game also inverts the contrast at random points making the background black and the creatures white to simulate a night mode and at the same time to draw player’s attention to the background change making it harder to play for a second, which could prove fatal.</p>        
        </div>
    </div>
    <!-- 
    
    -->

    
</body>
</html>