<!DOCTYPE html>
<html>
<head>
    <title> Settings </title>
    <link rel="stylesheet"  type="text/css" href="./css/settings.css">
</head>

<body style="font-size: 35px;">
    <div class="back">
        <img class="backbtn" src="./assets/back.png" alt="back">
        <a href="/"><p>Back</p></a>
    </div>
 <h1>ARCADE</h1>
 <div class="setting"  >
    <div class="level" >
        <h2>Difficulty Levels : </h2>
        <div class="choice" style="font-size: 35px;">
            <div class="easy" >
                <input type="radio" name="r1" required> Easy
            </div>
            <div class="difficult">
                <input type="radio" name="r1" required> Difficult
            </div>
        </div>
    </div>
    <div class="music" >
        <h2>Music : </h2>
        <div class="choice" style="font-size: 35px;">
            <div class="easy">
                <input type="radio" name="r1" required> ON
            </div>
            <div class="difficult">
                <input type="radio" name="r1" required> OFF
            </div>
        </div>
    </div>

 </div>
